[submodule "dependencies/htslib"]
	path = dependencies/htslib
	url = https://github.com/GenomicsDB/htslib.git
[submodule "dependencies/TileDB"]
	path = dependencies/TileDB
	url = https://github.com/OmicsDataAutomation/TileDB.git
[submodule "dependencies/RapidJSON"]
	path = dependencies/RapidJSON
	url = https://github.com/miloyip/rapidjson.git
[submodule "src/test/cpp/Catch2"]
	path = src/test/cpp/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
